<button type="button" class="btn btn-xs btn-danger">
  <a href="/rules/delete:<%= obj.id %>" class="my-action">delete</a>
</button>
<button type="button" class="btn btn-xs btn-info">
<a href="/rules/edit:<%= obj.id %>" class="my-action">edit</a>
</button>