<% include ../header %>
<div id="page-wrapper">
  <div class="container-fluid">
    <% include ../page_header %>
    <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <% include ../table/thead %>
        <% include ../table/tbody %>
      </table>
    </div>
  </div>
</div>
<% include ../foot %>